
{% extends "products/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}


    <!-- ========== ЗАГОЛОВОК КАТАЛОГА ========== -->
    <section class="catalog-header">
        <div class="container">
            <h1>Каталог игр</h1>
            <p class="catalog-subtitle">Все доступные игры в одном месте</p>
        </div>
    </section>

    <!-- ========== СЕТКА ИГР ========== -->
    <section class="catalog-grid">
        <div class="container">
            <div class="games-grid">
                <!-- Карточка 1 -->
                {% for product in products %}
                <div class="game-card">
                    <div class="game-image" style="background: #1a1a2e;">
                        {% if product.image %}
                            <img src="/media/{{ product.image }}">
                        {% else %}
                            <i class="fas fa-dragon"></i>
                            <span class="discount">-30%</span>
                        {% endif %}
                    </div>
                    <div class="game-info">
                        <h3>{{ product.name }}</h3>
                        <p class="genre">{{ product.genre }}</p>
                        <div class="game-meta">
                            <div class="rating"><i class="fas fa-star"></i>{{ product.rating }}</div>
                            <div class="price">
                                <span class="new-price">{{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}

